html {
  font-family: Merriweather, serif;
}

table {
  border-color: #ccc;
}

td,
th {
  border: 1px solid #ccc;
}

td {
  height: 9em;
}

.numbers {
  text-align: right;
}

.event {
  border-radius: 8px;
  border: 1px solid;
}

}

.event-greys {
  background-color: #f2f2f2;
  border-color: #666;
  color: #333;
}

.event-green {
  background-color: #d1e0bf;
  border-color: #6b7e54;
  color: #51603f;
}

.event-red {
  background-color: #f2bcbc;
  border-color: #b92828;
  color: #991919;
}

.event-blue {
  background-color: #d2d6f0;
  border-color: #1d38da;
  color: #38448e;
}
